<!doctype html>
<html lang="en">

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
            <p>
                <a href="{% url 'update_todolist' todolist.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'delete_todolist' todolist.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <th>Task</th>
                <th>Due Date</th>
                {% for x in todolist.items.all %}
                <tr>
                    <td><a href="{% url 'update_todoitem' x.id %}">{{x.task}}</a></td>
                    <td>{{x.due_date}}</td>
                </tr>
                {% endfor todlist.items.all %}
            </table>
        </div>
    </main>
</body>

</html>