<!doctype html>
<html lang="en">

<head>

</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'create_todolist' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'create_todoitem' %}">Create a new item</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>

                    <th>Number of items</th>
                </tr>
                {% for list in todolist %}
                <tr>
                    <td>
                        <a href="{% url 'show_todolist' list.id %}">{{list.name}}</a>
                    </td>
                    <td>{{list.items.all | length }}</td>
                </tr>
                {% endfor todolist %}
            </table>
        </div>
    </main>
</body>

</html>